body{

font-family:Arial;
text-align:center;

}



.login{

margin-top:150px;

}



input{

padding:10px;
margin:5px;
width:250px;

}



button{

padding:10px 20px;
margin:5px;

}



.card{

width:300px;
border:3px solid black;
margin:auto;
padding:10px;
margin-top:20px;

}



.logo{

width:60px;

}



.photo{

width:100px;
height:120px;
object-fit:cover;

}



#error{

color:red;

}
